<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
        @model accessoriesShop.Models.Register

<html>
<head>
<title>Accessories Store a Ecommerce Online Shopping Category Flat Bootstrap Responsive Website Template | Register :: w3layouts</title>

</head>
	
<body>
<!-- header -->
	
<!-- //header -->
<!-- breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li><a href="~/Home/index"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
				<li class="active">Foget Password Page</li>
			</ol>
		</div>
	</div>
<!-- //breadcrumbs -->
<!-- register -->
	<div class="register">
		<div class="container">
			<h3 class="animated wow zoomIn" data-wow-delay=".5s">Forget Password</h3>
			<p class="est animated wow zoomIn" data-wow-delay=".5s"></p>
			<div class="login-form-grids">
				<h5 class="animated wow slideInUp" data-wow-delay=".5s"></h5>
                @using (Html.BeginForm("AForget_pass", "Admin", FormMethod.Post))
                    {
                        <fieldset>
                            <legend>Profile Information</legend>
                    <h4>@ViewBag.Match_Ans</h4>
					
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Email)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Email,new { required="required"})
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
					<input type="submit" value="Submit">
				    </fieldset>
                }
			</div>
			<div class="register-home animated wow slideInUp" data-wow-delay=".5s">
				<a href="~/Home/index">Home</a>
			</div>
		</div>
	</div>
<!-- //register -->
<!-- footer -->
	
<!-- //footer -->
</body>
</html>